work_dirs/
predicts/
output/
dataset/
data/

__pycache__/
*/*.un~
.*.swp

*.egg-info/
*.egg
*.eggs

output.txt
.vscode/*
.DS_Store
tmp.*
*.pt
*.pth
*.un~
*.so
build

lane
debug
pretrained_models
ufld_r18_culane_fp16.engine
ufld_r18_culane_fp16.onnx
ufld_r18_culane_fp16.pth
ufld_r18_culane.pth
detector_model.onnx
best320.onnx
ufld_r18_culane_fp16.onnx
IMG_5132.MOV